:root {
  --text-color-light-primary: #ffffff;
  --text-color-light-secondary: #2196f3;
  --text-color-dark-primary: #757575;
  --text-color-dark-secondary: #212121;
  --bg-color-primary: #ffffff;
  --bg-color-light: #2196f3;
  --bg-color-dark: #2f303a;
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Raleway", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.section {
  padding: 94px 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
body {
  font-family: var(--font-primary);
  color: var(--text-color-dark-secondary);
  letter-spacing: 0.03em;
}
.heading-border {
  border: 1px solid #ececec;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--text-color-light-secondary);
}
.logo_head {
  padding: 24px 93px 25px 0;
}
.navigation_logo {
  color: #000000;
}
.column-nav-primary {
  gap: 46px;
}
.column-nav-secondary {
  gap: 50px;
}
.navigation-primary {
  display: flex;
  position: relative;
  column-gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color-dark-secondary);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.column-nav-primary li {
  position: relative;
}
.active-border::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -33px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--bg-color-light);
}
.navigation-secondary {
  display: flex;
  column-gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color-dark-primary);
  fill: var(--text-color-dark-primary);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-primary:hover,
.navigation-secondary:hover,
.address_color:hover,
.navigation-primary:focus,
.navigation-secondary:focus,
.address_color:focus {
  color: var(--text-color-light-secondary);
  fill: var(--text-color-light-secondary);
}
.main-section {
  text-align: center;
  margin: auto;
  max-width: 1600px;
  background: var(--bg-color-dark);
  background-image: url("../images/img17.jpg");
  background-repeat: no-repeat;
}
.main-primary {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-light-primary);
  margin-bottom: 30px;
  padding-top: 200px;
}
.button-primary {
  font-family: var(--font-primary);
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-color-light-primary);
  background-color: var(--bg-color-light);
  border-radius: 4px;
  padding: 10px 41px 10px 42px;
  margin-bottom: 200px;
  border-style: hidden;
  cursor: pointer;
}
.button-portfolio-item:focus,
.button-portfolio-item:hover {
  color: var(--text-color-light-primary);
  background: var(--bg-color-light);
}
.lorem-padding {
  padding-bottom: 0;
}
.lorem-primary {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.lorem-section-h {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}
.lorem-section-p {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color-dark-primary);
}
.work-section,
.team-section,
.customers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.work-team-image {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.work-image-item {
  position: relative;
  display: inline-flex;
}
.work-image-aplication {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-light-primary);
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
}
.team-image {
  background: var(--bg-color-primary);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team {
  background: #f5f4fa;
}
.team-name {
  font-weight: 500;
  line-height: 1.19;
  color: var(--text-color-dark-secondary);
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-position {
  line-height: 1.19;
  color: var(--text-color-dark-primary);
}
.team-socialmedia {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin-top: 16px;
  padding-bottom: 30px;
}
.team-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  fill: #afb1b8;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon:hover,
.join-us-socialmedia-icon:hover,
.team-icon:focus,
.join-us-socialmedia-icon:focus {
  fill: var(--text-color-light-primary);
  background-color: var(--bg-color-light);
}
.customers-column-svg {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.customers {
  background: var(--bg-color-primary);
}
.customers-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  background-color: transparent;
  fill: #afb1b8;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon:hover,
.customers-icon:focus {
  fill: var(--text-color-light-secondary);
  border-color: var(--text-color-light-secondary);
}
.foot {
  background: var(--bg-color-dark);
  padding: 60px 0;
  display: flex;
}
.foot_logo {
  color: var(--text-color-light-primary);
}
.addrees-column {
  margin-top: 20px;
}
.address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  color: var(--text-color-light-primary);
}
.address_list {
  padding-top: 9px;
}
.address_color {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-flex {
  display: flex;
  justify-content: space-between;
}
.join-us-color {
  color: var(--text-color-light-primary);
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.join-us {
  margin-left: 70px;
  padding-top: 12px;
}
.join-us-column {
  display: flex;
  column-gap: 10px;
}
.join-us-socialmedia-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--text-color-light-primary);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio-primary {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  padding-bottom: 50px;
}
.button-portfolio-item {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background: #f5f4fa;
  color: var(--text-color-dark-secondary);
  border-radius: 4px;
  padding: 6px 22px;
  border-style: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio-item:hover,
.button-portfolio-item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-image {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-image-item {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-image-container > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio-image-container {
  position: relative;
  overflow: hidden;
}
.portfolio-card-hidden {
  font-family: var(--font-primary);
  font-size: 18px;
  line-height: 1.55;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: var(--bg-color-light);
  color: var(--text-color-light-primary);
  padding: 48px 45px 24px;
  transform: translateY(101%);
  transition: transform 250ms ease-in;
  margin-top: 1px;
}
.portfolio-image-item:hover .portfolio-card-hidden {
  transform: translateY(0);
}
.portfolio-image-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 20px 24px 4px;
}
.portfolio-projects-name {
  line-height: 1.88;
  color: var(--text-color-dark-primary);
  margin: 4px 24px 20px;
}
.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  background-color: var(--bg-color-primary);
  padding-top: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(45deg);
}
.button-close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  background-color: var(--bg-color-primary);
  border-radius: 50%;
  color: #000000;
  text-align: center;
}
.button-close-svg {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.control-button {
  text-align: right;
  padding-right: 8px;
}
.contact-form {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  padding: 2px 40px 12px 40px;
  color: var(--text-color-dark-secondary);
}
.control-input {
  display: block;
  margin-left: 40px;
  position: relative;
}
input:focus-within {
  border-color: var(--bg-color-light);
}
.label-span {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color-dark-primary);
}
.label-div-1 {
  position: absolute;
  left: 0;
  top: 0px;
}
.label-div-2 {
  position: absolute;
  left: 0;
  top: 67.92px;
}
.label-div-3 {
  position: absolute;
  left: 0;
  top: 135.8445px;
}
.label-div-4 {
  position: absolute;
  left: 0;
  top: 203.76px;
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color-dark-primary);
}
.input-name {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  padding-left: 42px;
  margin-top: 4px;
  margin-right: 40px;
  margin-bottom: 10px;
  width: 448px;
  height: 40px;
}
.label-svg {
  position: absolute;
  display: inline-flex;
  align-items: center;
  top: 22px;
  left: 3px;
  margin-top: 8px;
  margin-left: 9px;
  margin-bottom: 11px;
  fill: var(--text-color-dark-secondary);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input:hover + .label-svg,
input:focus + .label-svg {
  border-color: var(--bg-color-light);
  fill: var(--bg-color-light);
}
input {
  border: none;
  outline: none;
}
input:hover {
  outline: none;
}
.control-textarea {
  padding: 12px 16px;
  margin-top: 4px;
  margin-right: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.control-textarea:focus {
  border-color: var(--bg-color-light);
}
textarea {
  resize: none;
  width: 448px;
  height: 120px;
  outline: none;
}
textarea:placeholder-shown {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.input-checkbox {
  margin-right: 7px;
  background-color: var(--text-color-dark-secondary);
}
.label-checkbox {
  position: absolute;
  top: 366.68px;
  left: 15px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color-dark-primary);
}
.link-accept {
  color: var(--text-color-light-secondary);
  text-decoration-line: underline;
}
.modal-button {
  position: absolute;
  top: 418.62px;
  left: 124px;
  margin-bottom: 40px;
  background-color: var(--bg-color-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--text-color-light-primary);
  border-style: hidden;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 76px;
}
.newsletter-button {
  background-color: var(--bg-color-light);
  color: var(--text-color-light-primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: hidden;
  padding: 10px 24px 10px 42px;
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.06em;
}
.news-save {
  margin-left: 78px;
  padding-top: 12px;
}
.news-save-color {
  color: var(--text-color-light-primary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.newsletter-input {
  width: 358px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--bg-color-dark);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  outline: none;
  margin-right: 12px;
}
.newsletter-contact {
  display: inline-flex;
  align-items: center;
}
.newsletter-button-svg {
  margin-left: 24px;
  display: inline-flex;
  align-items: center;
  fill: var(--bg-color-primary);
}
.newsletter-button-style {
  display: flex;
}
